.app__devLabel-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.2rem 0.5rem;
    background-color: #1c1c1c;
    /* background-color: var(--primary); */
    color: white;
    border-radius: 2px;
    /* margin: -0.5rem; */
}

.devLabel-text{
    font-size: 0.8rem;
    font-family: var(--primary-font);
}

.repo-link{
    color: white;
    text-decoration: none;
}

.profile{
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: normal;
    text-decoration: underline;
    color: yellow;
}